body {
    background-color: #afb3bb;
    }
    
    .navbar {
        color: rgb(248, 244, 244);
        background: linear-gradient(116deg, #8093ff, #201628);
        font-family: ui-rounded;
        font-size: x-large;
        justify-content: center;
    }
    
    .list-group {
    display: inline-flex;
    }
    
    #currentweather {
        border:dotted;
        background: #5fb1e7;
    
    }
    
    #searchhistory  {
        display: flex;
        flex-direction: column;
    }
    
    #searchbutton {
    margin-bottom: 20%;
    }
    
    .btn {
        background: linear-gradient(116deg, #000000, #57d0f5);
        color: rgb(255, 255, 255);
        font-size: x-large;
        border-radius: 50%;
        margin-top: 10px;
    }
    
    .forecast {
    display: flex;
    }
    
    .forecast > * {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }